.community-content {
    padding: 84px 142px 202px;
    display: flex;
    justify-content: space-between;
}

.cta {
    display: grid;
    align-content: center;
    gap: 50px;
}

@media (max-width: 1440px) {
    .community-content {
        max-width: 1326px;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1200px) {
    .community-content {
        padding: 54px 24px 150px;
        flex-direction: column;
        gap: 40px;
    }

    .community-content * {
        margin-inline: auto;
    }

    .cta {
        text-align: center;
        gap: 40px;
    }

    .community-button {
        width: min(380px, 100%);
    }
}