.image-orbit-wrapper {
    position: relative;
    height: 682px;
    width: 682px;
}

#orbit-logo {
    position: absolute;
    top: 278px;
    left: calc(50% - 63px);
    width: 126px;
    height: 126px;
}

.orbit {
    position: absolute;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
}
.forwards {
    animation: rotate-forwards 120s linear infinite;
}
.backwards {
    animation: rotate-backwards 120s linear infinite;
}
#orbit-empty {
    top: 216px;
    left: 216px;
    width: 250px;
    height: 250px;
}
#orbit-1 {
    top: 153px;
    left: 153px;
    width: 376px;
    height: 376px;
}
#orbit-2 {
    top: 76px;
    left: 76px;
    width: 530px;
    height: 530px;
}
#orbit-3 {
    width: 682px;
    height: 682px;
}

.planet {
    position: absolute;
}
#orbit-1-girl {
    top: -42px;
    left: 145px;
}
#orbit-1-guy {
    top: 252px;
    left: 320px;
}
#orbit-1-headphones-guy {
    top: 252px;
    left: -8px;
}
#orbit-dot-1 {
    top: 94px;
    left: 343px;
}
#orbit-dot-2 {
    top: 360px;
    left: 156px;
}
#orbit-dot-3 {
    top: 94px;
    left: 1px;
}
#orbit-2-red-girl {
    top: 94px;
    left: 460px;
}
#orbit-2-blonde-girl {
    top: 210px;
    left: -35px;
}
#orbit-3-guy {
    top: -11px;
    left: 230px;
}
#orbit-3-glasses-guy {
    top: 633px;
    left: 420px;
}

@keyframes rotate-forwards {
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate-backwards {
    to {
        transform: rotate(-360deg);
    }
}

@media (max-width: 1440px) {
    .image-orbit-wrapper {
        height: calc((478/682) * 682px);
        width: calc((478/682) * 682px);
    }
    #orbit-logo {
        top: calc(50% - 44px);
        left: calc(50% - 44px);
        width: calc((478/682) * 126px);
        height: calc((478/682) * 126px);
    }
    #orbit-empty {
        top: calc(50% - 88px);
        left: calc(50% - 88px);
        width: calc((478/682) * 250px);
        height: calc((478/682) * 250px);
    }
    #orbit-1 {
        top: calc(50% - 132px);
        left: calc(50% - 132px);
        width: calc((478/682) * 376px);
        height: calc((478/682) * 376px);
    }
    #orbit-2 {
        top: calc(50% - 185px);
        left: calc(50% - 185px);
        width: calc((478/682) * 530px);
        height: calc((478/682) * 530px);
    }
    #orbit-3 {
        width: calc((478/682) * 682px);
        height: calc((478/682) * 682px);
    }

    #orbit-1-girl {
        top: -30px;
        left: 90px;
        width: 60px;
    }
    #orbit-1-guy {
        top: 183px;
        left: 217px;
        width: 40px;
    }
    #orbit-1-headphones-guy {
        top: 176px;
        left: -4px;
        width: 50px;
    }
    #orbit-dot-1 {
        top: 64px;
        left: 238px;
        width: 21px;
    }
    #orbit-dot-2 {
        top: 251px;
        left: 122px;
        width: 21px;
    }
    #orbit-dot-3 {
        top: 64px;
        left: 5px;
        width: 21px;
    }
    #orbit-2-red-girl {
        top: 65px;
        left: 318px;
    }
    #orbit-2-blonde-girl {
        top: 190px;
        left: -21px;
        width: 50px;
    }
    #orbit-3-guy {
        top: -10px;
        left: 170px;
        width: 30px;
    }
    #orbit-3-glasses-guy {
        top: 445px;
        left: 290px;
        width: 38px;
    }
}

@media (max-width: 621px) {
    .image-orbit-wrapper {
        height: calc((380/682) * 682px);
        width: calc((380/682) * 682px);
    }
    #orbit-logo {
        top: calc(50% - 35px);
        left: calc(50% - 35px);
        width: calc((380/682) * 126px);
        height: calc((380/682) * 126px);
    }
    #orbit-empty {
        top: calc(50% - 69px);
        left: calc(50% - 69px);
        width: calc((380/682) * 250px);
        height: calc((380/682) * 250px);
    }
    #orbit-1 {
        top: calc(50% - 105px);
        left: calc(50% - 105px);
        width: calc((380/682) * 376px);
        height: calc((380/682) * 376px);
    }
    #orbit-2 {
        top: calc(50% - 148px);
        left: calc(50% - 148px);
        width: calc((380/682) * 530px);
        height: calc((380/682) * 530px);
    }
    #orbit-3 {
        width: calc((380/682) * 682px);
        height: calc((380/682) * 682px);
    }

    #orbit-1-girl {
        top: -20px;
        left: calc(50% - 42px);
        width: 46px;
    }

    #orbit-1-guy {
        top: 140px;
        left: 177px;
        width: 32px;
    }
    #orbit-1-headphones-guy {
        top: 130px;
        left: -10px;
        width: 38px;
    }
    #orbit-dot-1 {
        top: 42px;
        left: 185px;
        width: 17px;
    }
    #orbit-dot-2 {
        top: 200px;
        left: 100px;
        width: 17px;
    }
    #orbit-dot-3 {
        top: 42px;
        left: 5px;
        width: 17px;
    }
    #orbit-2-red-girl {
        top: 20px;
        left: 227px;
        width: 25px;
    }
    #orbit-2-blonde-girl {
        top: 140px;
        left: -18px;
        width: 40px;
    }
    #orbit-3-guy {
        top: -5px;
        left: 230px;
        width: 24px;
    }
    #orbit-3-glasses-guy {
        top: 354px;
        left: 220px;
        width: 32px;
    }
}

@media (max-width: 428px) {
    .image-orbit-wrapper {
        height: calc((380/682) * 0.75*682px);
        width: calc((380/682) * 0.75*682px);
    }
    #orbit-3 {
        display: none;
    }
}