.mission-wrapper {
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-bottom: 200px;
}

.mission-header {
    max-width: 575px;
}

.mission-content {
    max-width: 548px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
}


@media (max-width: 1012px) {
    .mission-wrapper {
        margin-bottom: 150px;
        text-align: center;
        flex-direction: column;
        gap: 60px;
        div, .bullet {
            margin-inline: auto;
        }
        .bullet-point {
            flex-direction: column;
        }
    }
    .mission-content {
        flex-direction: column;
    }
}
