.header-wrapper {
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header-nav-list {
    display: flex;
    gap: min(2vw, 60px);
}

.header-logo {
    max-height: 26px;
}

@media (max-width: 861px) {
    .header-logo {
        content: url("../../assets/images/header/logo-accent.png");
        width: 32px;
        min-height: 32px;
    }
}

