.header-wrapper {
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
.header-nav-list ul {
    display: flex;
    gap: min(2vw, 60px);
}
.burger-menu, .close-icon {
    display: none;
    width: 35px;
}

.header-logo {
    max-height: 26px;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(20%);
}

@media (max-width: 1012px) {
    .header-button {
        display: none;
    }
    .burger-menu, .close-icon {
        display: block;
    }
    .header-nav-list {
        position: fixed;
        top: 0;
        left: -30px;
        width: calc(100% + 60px);
        height: 100vh;
        background-color: var(--color-neutral-900);
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
        z-index: 10;
    }
    .header-nav-list ul {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
    .close-icon {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}
@media (max-width: 861px) {
    .header-nav-list {
        left: -24px;
        width: calc(100% + 48px);
    }
    .header-logo {
        content: url("../../assets/images/header/logo-accent.png");
        width: 32px;
        min-height: 32px;
    }
    .close-icon {
        right: 24px;
    }
}

