.wallet-wrapper {
    margin-bottom: 200px;
}

.wallet-content {
    margin-top: 60px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1216px;
    justify-content: center;
    gap: 20px;
}

.wallet-description {
    margin-bottom: 60px;
}

.wallet-card {
    margin-inline: auto;
    background-color: var(--color-neutral-500);
    border-radius: 30px;
    padding: 60px 30px;
    max-width: 392px;
    .section-subheader-smaller {
        margin-bottom: 30px;
    }
}

@media (max-width: 1012px) {
    .wallet-wrapper {
        margin-bottom: 150px;
    }
    .wallet-wrapper .section-header-smaller br {
        display: none;
    }
    .wallet-content {
       grid-template-columns: 1fr;
       align-items: center;
    }
}