.features-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-inline: auto;
}
.feature-card {
    position: relative;
    min-width: 330px;
    min-height: 503px;
    padding-top: 82px;
    background-color: rgba(93, 93, 93, 0.09);
    border-radius: 30px;
    z-index: 0;
}
.feature-text {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 60px;
}

.feature-card img {
    margin-inline: auto;
    transition: transform 0.4s;
}
.feature-card img#globe {
    width: 170px;
}
.feature-card img#money-jar {
    width: 167px;
    transform: translateY(-1em);
}
.feature-card img#platform-top {
    width: 191px;
    transform: translateY(-16em);
}
.feature-card img#platform-mid {
    width: 191px;
    transform: translateY(-6em);
}
.feature-card img#platform-bottom {
    width: 191px;
    transform: translateY(4em);
}
.feature-card img#brick-top {
    width: 116px;
    transform: scale(0.9) translateY(-0.5em) translateX(-4.5em) rotate(30deg);
}
.feature-card img#brick-bottom {
    width: 116px;
    transform: translateY(-0.5em) translateX(2.5em);
}

.background-gradient::before {
    border-radius: 30px;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
}
.background-gradient#gradient-upper-left:hover::before {
    background-image: url('../../assets/images/features/feature-card-gradient-upper-left.png');
}
.background-gradient#gradient-upper-right:hover::before {
    background-image: url('../../assets/images/features/feature-card-gradient-upper-right.png');
}
.background-gradient#gradient-bottom:hover::before {
    background-image: url('../../assets/images/features/feature-card-gradient-bottom.png');
}
.background-gradient#gradient-upper-left:hover::before,
.background-gradient#gradient-upper-right:hover::before,
.background-gradient#gradient-bottom:hover::before {
    background-size: cover;
    opacity: 1;
}

.background-gradient:hover #globe {
    transform: scale(1.1);
}
.background-gradient:hover #money-jar {
    transform: scale(1.1) translateY(-1em);
}

.background-gradient:hover #platform-top {
    transform: scale(1.1) translateY(-16.1em);
}

.background-gradient:hover #platform-mid {
    transform: scale(1.1) translateY(-6em);
}

.background-gradient:hover #platform-bottom {
    transform: scale(1.1) translateY(4.1em);
}

.background-gradient:hover #brick-top {
    transform: scale(1) translateY(-0.5em) translateX(-4.5em);
}
.background-gradient:hover #brick-bottom {
    transform: scale(1.1) translateY(-0.5em) translateX(2.5em) rotate(30deg);
}

@media (max-width: 1440px) {
    .features-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1042px;
    }
    .feature-card {
        min-width: 33px;
    }
}
@media (max-width: 621px) {
    .features-content {
        grid-template-columns: min(380px, 100%);
    }
    .feature-card {
        min-width: 100%;
    }
    .feature-text {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 30px;
    }
    .background-gradient#upper-left:hover::before,
    .background-gradient#upper-right:hover::before,
    .background-gradient#bottom:hover::before {
        background-size: contain;
    }
}
