.app {
    height: 100vh;
}

.button {
    width: 270px;
    padding: 18px 53px;
    border-radius: 60px;
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-900);
    cursor: pointer;
}
.button:hover,
.button:focus-visible {

}

.section-wrapper {
    --max-width: 1680px;
    --padding: 60px;

    width: min(var(--max-width), 100% - var(--padding));
    margin-inline: auto;
}

.section-header {
    margin-top: 160px;
    margin-bottom: 90px;
    text-align: center;
    font-size: var(--font-size-700);
    font-weight: var(--font-weight-semi-bold);
}

.section-subheader-number {
    font-size: var(--font-size-600);
    font-weight: var(--font-weight-medium);
    line-height: 1.2;
}

.section-subheader {
    font-size: var(--font-size-600);
    font-weight: var(--font-weight-semi-bold);
}

.section-text {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-medium);
    line-height: 1.6;
}

