:root {
    --font-family-primary: "IBM Plex Mono", monospace;

    --color-primary-100: #CD8CFF;
    --color-primary-400: #7948FF;

    --color-neutral-100: #F1F0F1;
    --color-neutral-500: #5D5D5D16;
    --color-neutral-900: #0F0E10;

    --font-size-400: 1rem;
    --font-size-500: 1.5rem;
    --font-size-600: 2rem;
    --font-size-700: 4rem;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;
}

@media (min-width: 50em) {
    :root {
        /* later */
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
    pointer-events: none;
    user-select: none;
}

.canvas-html {
    width: 100vw;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* document later */
div:has(.canvas-html) {
    transform: none !important;
}

* {
    font-family: var(--font-family-primary);
    color: var(--color-neutral-100);
}

.background-neutral-900 {
    background-color: var(--color-neutral-900);
}


.background-neutral-500 {
    background-color: var(--color-neutral-500);
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

.blur {
    backdrop-filter: blur(10px);
}
